body{    
    width: 80%;
    margin: auto;
    background: pink;
    padding: 0;
}

#top-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 3fr;
    text-align: center;
}

#page-header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 15px;
    background: grey;
    font-size: 14px;
    border-style: solid;
    border-width: medium;
    border-color: aqua;
}

#page-header img{    
    margin-top: -7px;
}

nav{
    background: #f7f7;
}

nav ul {
    padding: 0px;
    margin: 0;
    
}

nav ul li{
    padding: 0;
    margin-left: 10%;
    display: inline-block;
    box-sizing: border-box;
}

.logo{
    text-align: left;
    padding: 0;
    margin: 0;
}

.logo img{
    width: 29px;
}


.social-media-buttons{
    text-align: right;
}

.social-media-buttons img{
    width: 29px;
}
.social-media-buttons img:hover{
    opacity: 0.69;
}

.article-grid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
}



.article-grid article{
    border-style: solid;
    border-width: medium;
    border-color: aqua;
}


@media screen and (min-width: 750px) {
    .article-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
  }