
body{    
    width: 80%;
    margin: auto;    
    margin-bottom: 100px;
    background: rgb(231, 231, 231);
    padding: 0;    
}

a{
    text-decoration: none;
}

#top-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 3fr;
    text-align: center;
}

#page-header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 15px;
    background-color: rgb(69, 69, 69);
    font-size: 14px;
    
    box-sizing: border-box;
}

#page-header img{    
    margin-top: -7px;
}

nav{
    margin: 0;
    padding: 0;
    height: 100%;
}

nav ul {
    padding: 0px;
    margin: 0;
    list-style: none;
}

nav ul li{
    padding: 0;
    margin-left: 0;
    display: inline-block;
    box-sizing: border-box;
}



nav ul li a{
    
    padding: 12px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11pt;
}
nav ul li a:hover{
    background: rgb(95, 95, 95);
    
}
.logo{
    text-align: left;
    padding: 0;
    margin: 0;
}

.logo img{
    width: 100px;
    margin-left: -15px;
}


.social-media-buttons{
    text-align: right;
}

.social-media-buttons img{
    width: 29px;
}
.social-media-buttons img:hover{
    opacity: 0.69;
}


.figur {
    margin: 1em 0;
}

.figur img{
    width: 100%;
}

.figur figcaption{
    text-align: left;
    font-size: 0.5em;
}

.inforuta {
    color: white;    
    padding: 1em;
    background: rgb(69, 69, 69);
    box-sizing: border-box;
}

.inforuta ul{
    list-style: none;
    padding: 0;
}


/* Index */

.large-image img{
    width: 100%;
    max-height: 500px;
}

.article-grid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    grid-gap: 10px;
}

.article-grid figure{
    margin: 0;
}
.article-grid figure img{
    width: 100%;
}
.article-grid article:hover{
    background: rgb(220, 220, 220);
}

.article-grid article{
    border-style: solid;
    border-width: medium;
    border-color: rgb(0, 179, 179);
    border-radius: 12px;
    
}


/* Kontakt */

#kontaktinfo h1 {
    font-size: 2em;
    font-family: Helvetica, Arial, sans-serif;
    font-variant-caps: petite-caps; 

}
#kontaktinfo h2{
    font-variant-caps: petite-caps; 
    font-family: Helvetica, Arial, sans-serif;
}

.kontaktperson-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    
}


.kontaktperson h2{
    padding-top: 2em;
}
.kontaktperson img{
    width: 35%;
}

/* Om oss */

.nyheter-grid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2em;
    column-gap: 4em;
    text-align: left;
}

.nyheter-grid figure{
    text-align: center;
    margin: 0;
}

/* Innehåll */

.köpknapp {
    box-sizing: border-box;
    padding: 20px;
    background-color: rgb(232, 219, 49);
    border-radius: 10px;
    border-style: solid;
    border-color:  rgb(184, 174, 47);
}

.köpknapp:hover{
    background-color:  rgb(177, 167, 37);
}

.innehåll-grid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    grid-gap: 10px;

}
.innehåll-grid article:hover{
    background: rgb(220, 220, 220);
}



.innehåll-grid article{
    border-style: solid;
    border-width: medium;
    border-color: rgb(0, 179, 179);
    border-radius: 12px;
}

@media screen and (min-width: 750px) {
    
    nav ul li{    
        margin-left: 10%;
    }
    
    /* Index */
    .article-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }


    /* Kontakt */
    .kontaktperson-grid{
        grid-template-columns: 1fr 1fr;
    }

    /* Om oss */
    .nyheter-grid{
        grid-template-columns: 1fr 1fr;
  }
}